
{#Created by 子舟 on 2021/10/16#}

{% extends 'base.html' %}
{% block title %}管理员中心{% endblock %}
{% block content %}
    <div class="content-base">
        {% block flash %}
            {% for message in get_flashed_messages() %}
                <div class="alert alert-danger container" style="font-size: larger">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    {{ message }}
                </div><br>
            {% endfor %}
        {% endblock %}
        <div class="content-update">
            <form action="{{ url_for('user.manager_update') }}" method="post">
                <p><img class="icon" src="../../static/image/student_id.png" alt="" width="20" height="20"><input type="text" name="id" value="{{ student_list.id }}" required="required"></p>
                <p><img class="icon" src="../../static/image/acount.png" alt="" width="20" height="20"><input type="text" name="username" placeholder="请输入用户名" required="required"></p>
                <p><img class="icon" src="../../static/image/password.png" alt="" width="20" height="20"><input type="password" name="password" placeholder="请输入密码" required="required"></p>
                <p><img class="icon" src="../../static/image/password.png" alt="" width="20" height="20"><input type="password" name="confirm_password" placeholder="请输入确认密码" required="required"></p>
                <p><img class="icon" src="../../static/image/phone.png" alt="" width="20" height="20"><input type="text" name="phone" placeholder="请输入联系电话" required="required"></p>
                <p><input class="btn" type="submit" value="更改"></p>
            </form>
        </div>
    </div>

    {% block footer %}
        <div id="footer">
                由东北大学<strong> &nbsp;子舟 &nbsp;</strong>制作<br>
                地址： &nbsp; 联系电话：
        </div>
    {% endblock %}
{% endblock %}
