
{#Created by 子舟 on 2021/10/15#}

{% extends 'base.html' %}
{% block title %}
筛选结果
{% endblock %}
{% block content %}
    <div class="content-base">
        {% block flash %}
            {% for message in get_flashed_messages() %}
                <div class="alert alert-warning container" style="font-size: larger">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    {{ message }}
                </div><br>
            {% endfor %}
        {% endblock %}
        <a style="font-size: 35px;margin: auto 1% auto 8%" href="{{ url_for('user.graph') }}">可视化数据</a>(今年和去年月送水数量)
        <table width="80%" border="2" cellspacing="2" cellpadding="4" bgcolor="#cccccc" class="tabtop" align="center">
                <tr>
                    <td class="btbg font-center titfont">序号</td>
                    <td class="btbg font-center titfont">学生号</td>
                    <td class="btbg font-center titfont">姓名</td>
                    <td class="btbg font-center titfont">联系电话</td>
                    <td class="btbg font-center titfont">宿舍号</td>
                    <td class="btbg font-center titfont">是否送达</td>
                </tr>
                {% for student in student_list %}
                    <tr>
                        <td class="btbg font-center mainfont">{{ loop.index}}</td>
                        <td class="btbg font-center mainfont">{{ student.id }}</td>
                        <td class="btbg font-center mainfont">{{ student.username }}</td>
                        <td class="btbg font-center mainfont">{{ student.phone }}</td>
                        <td class="btbg font-center mainfont">{{ student.dormitory }}</td>
                        <td class="btbg font-center mainfont">
                            <table>
                                <tr>
                                    <form action="{{ url_for('user.deal_need') }}" method='post'>
                                        <input type="hidden" name="id" value="{{ student.id }}">
                                        <input type="hidden" name="key" value="{{ key }}">
{#                                        如果是学生登陆则显示未送达，如果是工作员或者管理员登陆则显示“已送达”“未送达”的表单单选选项供选择#}
                                        {% if stu %}
                                        <p style="margin: auto">未送达</p>
                                        {% elif wor %}
                                        <label for="yes">已送达</label><input type="radio" name="{{ student.id }}" value='yes' id="yes">&nbsp;
                                        <label for="no">未送达</label><input type="radio" name="{{ student.id }}" value='no' checked="checked" id="no">&nbsp;
                                        <input type="submit" value="提交" class="btn">
                                        {% elif mana %}
                                        <label for="yes">已送达</label><input type="radio" name="{{ student.id }}" value='yes' id="yes">&nbsp;
                                        <label for="no">未送达</label><input type="radio" name="{{ student.id }}" value='no' checked="checked" id="no">&nbsp;
                                        <input type="submit" value="提交" class="btn">
                                        {% endif %}

                                    </form>
                                </tr>
                            </table>
                        </td>
                    </tr>
                {% endfor %}
        </table>
    </div>

    {% block footer %}
        <div id="footer">
                由东北大学<strong> &nbsp;子舟 &nbsp;</strong>制作<br>
                地址： &nbsp; 联系电话：
        </div>
    {% endblock %}
{% endblock %}